<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindMyPet"
        tools:targetApi="31">
        <activity
            android:name=".Activities.PrivateChat.PrivateChatActivity"
            android:exported="true"
            android:theme="@style/Theme.FindMyPet.SlidrActivityTheme"/>
        <activity
            android:name=".Activities.ViewProfile.ViewProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.FindMyPet.SlidrActivityTheme" />
        <activity
            android:name=".Activities.Followings.FollowingActivity"
            android:exported="false"
            android:theme="@style/Theme.FindMyPet.SlidrActivityTheme" />
        <activity
            android:name=".Activities.Followers.FollowersActivity"
            android:exported="false"
            android:theme="@style/Theme.FindMyPet.SlidrActivityTheme" />
        <activity
            android:name=".Activities.ViewPosts.ViewPostsActivity"
            android:exported="false"
            android:theme="@style/Theme.FindMyPet.SlidrActivityTheme" />
        <activity
            android:name=".Activities.Comments.CommentsActivity"
            android:exported="false"
            android:theme="@style/Theme.FindMyPet.SlidrActivityTheme" />
        <activity
            android:name=".Activities.ViewLikes.ViewLikesActivity"
            android:exported="false"
            android:theme="@style/Theme.FindMyPet.SlidrActivityTheme" />
        <activity
            android:name=".Activities.Post.PostActivity"
            android:exported="false"
            android:theme="@style/Theme.FindMyPet.SlidrActivityTheme" />
        <activity
            android:name=".Activities.Chats.ChatsActivity"
            android:exported="false"
            android:theme="@style/Theme.FindMyPet.SlidrActivityTheme" />
        <activity
            android:name=".Activities.SignUpSetProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="false"
            android:parentActivityName=".Activities.LoginActivity" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" />
    </application>

</manifest>